<!-- ===================================================================================== -->
<!-- 17 - Aprobación  -->
<!-- ===================================================================================== -->
﻿<div class="container gest_proy">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div ng-include src="'app/gpy/vistas/gestionProyectosMenu.html'"></div>
        </div>


        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-include src="'app/gpy/vistas/gestionProyectosEncabezado.html'"></div>
                </div>

                <div class="panel-body" ng-controller="aprobacionregistroCtrl">
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                    <form class="form-horizontal" id="formpreaprobacion" name="formpreaprobacion" novalidate>
                        <fieldset>

                            <!-- Aprobación Preregistro -->
                            <legend>Aprobación del proyecto (fase de registro)</legend>

                            <!-- Multiple Checkboxes (inline) -->
                            <div class="form-group" ng-class="{'has-error': formEnviado}">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4" ng-class="{'has-error': !regdocumento.numrradcd.$valid && formEnviado}">
                                    <label class="checkbox-inline">
                                        <input type="radio" ng-model="proyecto.a002estadoproyecto"
                                               required value="{{APRREG}}" name="estadoProyecto" id="estadoProyecto">
                                        Registro aprobado
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" ng-model="proyecto.a002estadoproyecto"
                                               required value="{{DEVUELTAREG}}" name="estadoProyecto" id="estadoProyecto">
                                        Registro rechazado
                                    </label>
                                </div>
                                 <span class="control-label"
                                      ng-show="formEnviado">{{campoObligatorio}}</span>
                            </div>
                            <hr>
                            
                            <div  id="listaArhivos" ng-include="'app/utl/vistas/adjunto.html'"></div>
                            
                            <hr>
                            <!-- Guardar -->
                            <div class="form-group" ng-show="(sesion.perfil == FUNCMADS) || (sesion.perfil == ADMINAA)">
                                <label class="col-md-4 control-label" for="singlebutton"></label>
                                <div class="col-md-4">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="guardar(formpreaprobacion)">Guardar</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                </div>
            </div>
        </div>
    </div>
</div>