<!-- ===================================================================================== -->
<!-- 10 - Aprobación  -->
<!-- ===================================================================================== -->
﻿<div class="container gest_proy">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div ng-include src="'app/gpy/vistas/gestionProyectosMenu.html'"></div>
        </div>


        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-include src="'app/gpy/vistas/gestionProyectosEncabezado.html'"></div>
                </div>

                <div class="panel-body" ng-controller="aprobarpreregCtrl">
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                    <form class="form-horizontal" id="formpreaprobacion" name="formpreaprobacion" novalidate>
                        <fieldset>

                            <!-- Aprobación Preregistro -->
                            <legend>Aprobación Preregistro</legend>

                            <!-- Multiple Checkboxes (inline) -->
                            <div class="form-group" ng-class="{'has-error': formEnviado}">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4" ng-class="{'has-error': !regdocumento.numrradcd.$valid && formEnviado}">
                                    <label class="checkbox-inline">
                                        <input type="radio" ng-model="aprobarPreReg.a002codigo"
                                               required value="{{estadoAprobado.a102valor}}" name="checkboxes0" id="checkboxes0">
                                        {{estadoAprobado.a102valor}}
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" ng-model="aprobarPreReg.a002codigo"
                                               required value="{{estadoRechazado.a102valor}}" name="checkboxes0" id="checkboxes0">
                                        {{estadoRechazado.a102valor}}
                                    </label>
                                </div>
                                 <span class="control-label"
                                      ng-show="formEnviado">{{campoObligatorio}}</span>
                            </div>
                            <hr>
                            <label>Informacion eSigna</label>
                            <!-- Número de radicado-->
                            <div class="form-group" ng-class="{'has-error': !regdocumento.numrradcd.$valid && formEnviado}">
                                <label class="col-md-4 control-label" for="txtnumradicado"><font style="color: #a94442">*</font> Número de radicado</label>  
                                <div class="col-md-4">
                                    <input id="txtnumradicado" name="txtnumradicado" required ng-pattern="/^[0-9]{0,15}$/"
                                           ng-model="regdocumento.numrradcd" maxlength="15"
                                           class="form-control input-md" type="text">
                                </div>
                                <span class="control-label"
                                      ng-show="formpreaprobacion.txtnumradicado.$error.required && formEnviado">{{campoObligatorio}}</span>
                            </div>

                            <!-- Adjunto-->
                            <div class="form-group" ng-class="{'has-error': !formpreaprobacion.txtadjuntoapruba.$valid && formEnviado}">
                                <label class="col-md-4 control-label" for="appendedtext">Adjunto</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="file" class="form-control" id="txtadjuntoapruba" name="txtadjuntoapruba" required
                                               placeholder="Adjunto" ngf-select="" ngf-accept="'application/pdf'" ng-model="regdocumento.file">
                                    </div>
                                    <p> por favor adjuntar el archivo de soporte de radicado eSigna</p>
                                </div>
                                <span class="control-label"
                                      ng-show="formpreaprobacion.txtadjuntoapruba.$error.required && formEnviado">{{campoObligatorio}}</span>
                            </div>
                            <hr>
                            <!-- Guardar -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="singlebutton"></label>
                                <div class="col-md-4">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="guardar(formpreaprobacion)">Guardar</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                </div>
            </div>
        </div>
    </div>
</div>