<!-- ===================================================================================== -->
<!-- 6 - Financiación -->
<!-- ===================================================================================== -->
﻿<div class="container gest_proy" >
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div ng-include src="'app/gpy/vistas/gestionProyectosMenu.html'"></div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-include src="'app/gpy/vistas/gestionProyectosEncabezado.html'"></div>
                </div>

                <div class="panel-body" ng-controller="financiacionCtrl">
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                    <form class="form-horizontal" id="formregcostfuentproy" name="formregcostfuentproy" novalidate>
                        <fieldset>
                            <!-- Financiación -->
                            <legend>Financiación</legend>


                            <!-- Costos estimados totales de la iniciativa-->
                            <div class="form-group" ng-class="{'has-error': !formregcostfuentproy.txtvaltotfinc.$valid && formEnviado}">
                                <label class="col-md-4 control-label" for="txtvaltotfinc"><font style="color: #a94442">*</font> Costos estimados totales de la iniciativa</label>  
                                <div class="col-md-4">
                                    <input id="txtvaltotfinc" name="txtvaltotfinc" required
                                           placeholder="$"  ng-model="financiacion.a002costsestmdtotl" maxlength="15" format="number"
                                           class="form-control input-md" type="text">
                                </div>
                                <span class="control-label"
                                      ng-show="formregcostfuentproy.txtvaltotfinc.$error.required && formEnviado">{{campoObligatorio}}</span>
                            </div>

                            <!-- Costos estimados de la formulación de iniciativa-->
                            <div class="form-group" ng-class="{'has-error': !formregcostfuentproy.txtvalestformproy.$valid && formEnviado}">
                                <label class="col-md-4 control-label" for="txtvalestformproy"><font style="color: #a94442">*</font> Costos estimados de la formulación de iniciativa</label>  
                                <div class="col-md-4">
                                    <input id="txtvalestformproy" name="txtvalestformproy" required
                                           placeholder="$"  ng-model="financiacion.a002costsestmdformlcn" maxlength="15" format="number"
                                           class="form-control input-md" type="text">
                                </div>
                                <span class="control-label"
                                      ng-show="formregcostfuentproy.txtvalestformproy.$error.required && formEnviado">{{campoObligatorio}}</span>
                            </div>

                            <!-- Costo estimado por tonelada de CO2- eq a reducir (COP)-->
                            <div class="form-group" ng-class="{'has-error': !formregcostfuentproy.txtcosttonformproy.$valid && formEnviado}">
                                <label class="col-md-4 control-label" for="txtcosttonformproy"><font style="color: #a94442">*</font> Costo estimado por tonelada de CO2- eq a reducir (COP)</label>  
                                <div class="col-md-4">
                                    <input id="txtcosttonformproy" name="txtcosttonformproy" required
                                           placeholder="$"  ng-model="financiacion.a002costtonldrdcr" maxlength="15" format="number"
                                           class="form-control input-md" type="text">
                                </div>
                                <span class="control-label"
                                      ng-show="formregcostfuentproy.txtcosttonformproy.$error.required && formEnviado">{{campoObligatorio}}</span>
                            </div>
                            
                            <!--tasa de cambio-->
                            <div class="form-group" ng-class="{'has-error': !formregcostfuentproy.txttasacformproy.$valid && formEnviado}">
                                <label class="col-md-4 control-label" for="txttasacformproy"><font style="color: #a94442">*</font> Tasa de Cambio del día</label>
                                <div class="col-md-4">
                                    <input id="txttasacformproy" name="txttasacformproy" required
                                           placeholder="$" ng-model="financiacion.a002trm" maxlength="5" format="number"
                                           class="form-control input-md" type="text">
                                </div>
                                <span class="control-label"
                                      ng-show="formregcostfuentproy.txttasacformproy.$error.required && formEnviado">{{campoObligatorio}}</span>
                            </div>

                            <!-- ¿Se encuentra en búsqueda de financiación? -->
                            <div class="form-group" ng-class="{'has-error': !formregcostfuentproy.radiobusfincostproy.$valid && formEnviado}">
                                <label class="col-md-4 control-label" for="radios"><font style="color: #a94442">*</font> ¿Se encuentra en búsqueda de financiación?</label>
                                <div class="col-md-4"> 
                                    <label class="radio-inline" for="radios">
                                        <input name="radiobusfincostproy" id="radios-0" value="SI"  type="radio" ng-model="financiacion.a002busqudfinnccn" required>
                                        SI
                                    </label> 
                                    <label class="radio-inline" for="radios2">
                                        <input name="radiobusfincostproy" id="radios-1" value="NO" type="radio" checked="checked" ng-model="financiacion.a002busqudfinnccn" required>
                                        NO
                                    </label>
                                </div>
                                <span class="control-label"
                                      ng-show="formregcostfuentproy.radiobusfincostproy.$error.required && formEnviado">{{campoObligatorio}}</span>
                            </div>

                            <!-- Posibles fuentes de financiación identificadas -->
                            <div class="form-group" ng-class="{'has-error': formEnviado && valselectFuente}">
                                <label class="col-md-4 control-label"><font style="color: #a94442">*</font> Posibles fuentes de financiación identificadas</label>
                                <div class="col-md-4">
                                    <div class="checkbox"  ng-repeat="fuente in listfuentesfinanc">
                                        <label for="checkboxes-0">
                                            <input name="checkboxes" id="checkboxes-0" ng-model="fuente.a102valorcorto" ng-value="{{fuente.a102codigo}}" type="checkbox">{{fuente.a102valor}}
                                        </label>
                                    </div>
                                </div>
                                <span class="control-label"
                                      ng-show="formEnviado && valselectFuente">{{campoObligatorio}}</span>
                            </div>

                            <!-- Guardar -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="button1id"></label>
                                <div class="col-md-8">
                                    <button id="button1id" name="button1id" class="btn btn-primary" ng-click="guardar(formregcostfuentproy)">Registrar Financiación</button>
                                    <button id="button2id" name="button2id" class="btn btn-primary">Cancelar</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->


                    <!-- ============================================================-->
                    <!-- Si estamos en registro, debe mostrar el  -->
                    <!-- formulario de instrumentos de financiación -->
                    <!-- ============================================================-->
                    
                    <br/>
                    <form class="form-horizontal" id="formInstrumentos" name="formInstrumentos">
                        <fieldset ng-disabled="sesion.perfil == INVITADO">
                            <!-- Form Name -->
                            <legend>Instrumentos de financiación</legend>

                            <table  class="table table-bordered">
                                <tr>
                                    <th>Financiación</th>
                                    <th>Distribución</th>
                                    <th>Acciones</th>
                                </tr>
                                <tr ng-repeat="filaInstrumentos in instrumentos">
                                    <td>{{filaInstrumentos.a102valor}}</td>
                                    <td>{{filaInstrumentos.a009porfinnccnestmd}}%</td>
                                    <td><button type="button" class="btn btn-primary" 
                                            ng-click="eliminarInstrumento(filaInstrumentos)" data-toggle="tooltip" data-placement="top"
                                            title="Eliminar instrumento de financiación"><span class="glyphicon glyphicon-remove"></span></button></td>    
                                </tr>
                                
                            </table>
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">Tipo de instrumento de finaciación</label>
                                <div class="col-md-4">
                                    <select id="tiposInstrumentos" name="tiposInstrumentos" class="form-control" required ng-model="instrumento.a009idtipinstrmntf.a102codigo"  ng-options="tipoInstrumento.a102codigo as tipoInstrumento.a102valor for tipoInstrumento in tiposInstrumentos">
                                        <option value="1">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                           
                            <div class="form-group" ng-class="{'has-error': !formInstrumentos.a009porfinnccnestmd.$valid}">
                                <label class="col-md-4 control-label" for="a009porfinnccnestmd"><font style="color: #a94442">*</font> Distribución porcentual de financiación</label>
                                <div class="col-md-4">
                                    <input id="a009porfinnccnestmd" name="a009porfinnccnestmd" required
                                           placeholder="%" ng-model="instrumento.a009porfinnccnestmd" maxlength="5" format="number"
                                           class="form-control input-md" type="text">
                                </div>
                                <span class="control-label"
                                      ng-show="formInstrumentos.a009porfinnccnestmd.$error.required">{{campoObligatorio}}</span>
                            </div>
                            

                            <!-- Button (Double) -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="button1id"></label>
                                <div class="col-md-8">
                                    <button id="btnGuardarInstrumento" name="btnGuardarInstrumento" class="btn btn-primary"  ng-disabled="formInstrumentos.$invalid" ng-click="guardarInstrumento()">Guardar</button>
                                    <button id="btnCancelarInstrumento" name="btnCancelarInstrumento" class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>