<div class="container">

    <div class="col-sm-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Proyectos</h3>
            </div>
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-body panel-collapse">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <label style="font-size: 1.4em">BUSCAR</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 col-sm-3">
                                <label for="search">Palabra clave</label>
                                <input ng-model="filtroproyecto.palabra" id="search" class="form-control" />
                            </div>
                            <div class="col-xs-3 col-sm-3">
                                <label for="search">Autoridad ambiental</label>
                                <select class="form-control campotextable control-label"
                                        id="seltipoproy" name="seltipoproy" style="width: 240px"
                                        ng-model="filtroproyecto.autoridad"
                                        ng-options="item as item.a001sigla for item in listaAutoridadAmb track by item.a001sigla">
                                    <option value="" selected>Todas</option>
                                </select>
                            </div>
                            <div class="col-xs-3 col-sm-3">
                                <label for="search">Tipo del Proyecto</label>
                                <select class="form-control campotextable control-label"
                                        id="seltipoproy" name="seltipoproy" style="width: 240px"
                                        ng-model="filtroproyecto.tipoproy"
                                        ng-options="item as item.a102valorcorto for item in tiposProyecto track by item.a102valorcorto">
                                    <option value="" selected>Todos</option>
                                </select>
                            </div>
                            <div class="col-xs-3 col-sm-3">
                                <label for="search">Estado</label>
                                <select class="form-control campotextable control-label"
                                        id="seltipoproy" name="seltipoproy" style="width: 240px"
                                        ng-model="filtroproyecto.estadoproy"
                                        ng-options="item as item.a102valor for item in listEstadosProyecto track by item.a102valor">
                                    <option value="" selected>Todos</option>
                                </select>
                            </div>
                        </div>
                        <div class="row"><br></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 derecha">
                                <a class="btn btn-primary btn-lg "  ng-click="filtrarProyectos()" >Buscar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="block-system-main1" class="panel">

                    <div class="panel-body">
                        <div class="row">
                            <table class="table table-striped table-bordered table-hover">  
                                <thead>
                                    <tr>
                                        <th style="background: #C7CCD1" colspan="6"><strong>LISTADO DE PROYECTOS</strong></th>
                                    </tr>
                                    <tr>
                                        <th>No.</th> 
                                        <th>Autoridad Ambiental</th> 
                                        <th>Tipo Proyecto</th> 
                                        <th>Proyecto</th> 
                                        <th>Estado</th> 
                                        <th style="width:100px;">Acciones</th> 
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr ng-repeat="proyecto in listaproyectos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"> 
                                        <th scope="row">{{$index + 1}}</th>
                                        <td>{{proyecto.a001sigla}}</td>
                                        <td>{{proyecto.tipoproyecto}}</td>
                                        <td>{{proyecto.a002nombrproyct}}</td>
                                        <td>{{proyecto.estadoproyecto}}</td>
                                        <td>
                                            <!-- acciones compartidas -->
                                            <button type="submit" class="btn btn-primary" style="color: #FFF" aria-label="Left Align" ng-click="verdalleproy(proyecto)"  title="Ver detalle del proyecto" >
                                                <span class="glyphicon glyphicon-search btn-icon" aria-hidden="true"></span>
                                            </button>
                                            
                                            <!-- acciones para el publicador -->
                                            <button type="button" class="btn btn-warning" style="color: #FFF" aria-label="Left Align" ng-show="habilitarLink('SOLMDL1', proyecto)" ng-click="procesarLink('SOLMDL1',proyecto)" title="Solicitar aprobación MDL - 1" >
                                                <span class="glyphicon " aria-hidden="true"><b>01</b></span>
                                            </button>
                                            <button type="button" class="btn btn-warning" style="color: #FFF" aria-label="Left Align" ng-show="habilitarLink('SOLMDL3', proyecto)" ng-click="procesarLink('SOLMDL3',proyecto)" title="Solicitar aprobación MDL - etapa 3" >
                                                <span class="glyphicon" aria-hidden="true"><b>03</b></span>
                                            </button>
                                            <button type="button" class="btn btn-success" style="color: #FFF" aria-label="Left Align" ng-show="habilitarLink('SOLPRE', proyecto)" ng-click="procesarLink('SOLPRE',proyecto)" title="Solicitar aprobación del pre-registro" >
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" style="color: #FFF" aria-label="Left Align" ng-show="habilitarLink('SOLREG', proyecto)" ng-click="procesarLink('SOLREG',proyecto)" title="Solicitar aprobación del proyecto" >
                                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                                            </button>
                                            
                                            <!-- acciones para la autoridad -->
                                            <button type="button" class="btn btn-warning" style="color: #FFF" aria-label="Left Align" ng-show="habilitarLink('GESMDL1', proyecto)" ng-click="procesarLink('GESMDL1',proyecto)" title="Gestionar aprobación MDL -  etapa 1" >
                                                <span class="glyphicon " aria-hidden="true"><b>01</b></span>
                                            </button>
                                            <button type="button" class="btn btn-warning" style="color: #FFF" aria-label="Left Align" ng-show="habilitarLink('GESMDL3', proyecto)" ng-click="procesarLink('GESMDL3',proyecto)" title="Gestionar aprobación MDL - etapa 3" >
                                                <span class="glyphicon" aria-hidden="true"><b>03</b></span>
                                            </button>
                                            <button type="button" class="btn btn-success" style="color: #FFF" aria-label="Left Align" ng-show="habilitarLink('GESPRE', proyecto)" ng-click="procesarLink('GESPRE',proyecto)" title="Gestionar aprobación pre-registro" >
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" style="color: #FFF" aria-label="Left Align" ng-show="habilitarLink('GESREG', proyecto)" ng-click="procesarLink('GESREG',proyecto)" title="Gestionar aprobación del proyecto" >
                                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr> 
                                </tbody>
                            </table>
                            <div class="panel-footer text-center">
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;"
                                    first-text="&laquo;" last-text="&raquo;"></ul>
                            </div>
                        </div>
                        
                        <div class="row derecha">
                            <a class="btn btn-primary btn-lg "  ng-click="eligeTipoProyModal()" >Adicionar Nuevo Proyecto</a>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="col-sm-1 col-md-1"></div>
    </div>