<!-- ===================================================================================== -->
<!-- 7 - MDL etapa 1 Consideración Temprana -->
<!-- ===================================================================================== -->
﻿<div class="container gest_proy">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div ng-include src="'app/gpy/vistas/gestionProyectosMenu.html'"></div>
        </div>


        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-include src="'app/gpy/vistas/gestionProyectosEncabezado.html'"></div>
                </div>

                <div class="panel-body" ng-controller="infoMDLCtrl">
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                    <form class="form-horizontal">
                        <fieldset>

                            <!-- Etapa 1 Consideración Temprana -->
                            <legend>Etapa 1 Consideración Temprana</legend>



                            <!-- Nombre del proyecto en inglés-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="nombrproyctingls">Nombre del proyecto en inglés</label>  
                                <div class="col-md-4">
                                    <input id="nombrproyctingls" name="nombrproyctingls" placeholder="" class="form-control input-md" type="text" ng-model="proyecto.a002nombrproyctingls">

                                </div>
                            </div>

                            <!-- Sector/Sectoral Scope -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="sectoral">Sector/Sectoral Scope</label>
                                <div class="col-md-4">
                                    <select id="sectoral" name="sectoral" class="form-control" ng-model="proyecto.a002idsectoralscope" 
                                            ng-options="sectoralScope as sectoralScope.a102valor for sectoralScope in sectoralScopes track by sectoralScope.a102codigo" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Tecnologías contempladas -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="tecnlgcontmpld">Tecnologías contempladas</label>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="tecnlgcontmpld" name="tecnlgcontmpld" ng-model="proyecto.a002tecnlgcontmpld" required></textarea>
                                </div>
                            </div>
                            <hr>
                            <label> Solicitud de Consideración Temprana del Proyecto</label>
                            <br/><p> Solicitud de Consideración Temprana del proyecto MDL suscrita por el representante legal o quien haga sus veces (en caso de ser persona jurídica) o la persona natural interesada, con el nombre o razón social, número de identificación, domicilio y nacionalidad. Esto en caso de que este ya haya sido entregado al Ministerio de Ambiente y Desarrollo Sostenible)</p>
                            <!-- Número de radicado-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Número de radicado</label>  
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" placeholder="" class="form-control input-md" type="text">

                                </div>
                            </div>

                            <!-- Adjunto-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="appendedtext">Adjunto</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="appendedtext" name="appendedtext" class="form-control" placeholder="c:\users\pc\documents\etapa 1_MDL_MDL_PoA" type="text">
                                        <span class="input-group-addon">Examinar</span>
                                    </div>

                                </div>
                            </div>
                            
                            <!-- Cargar documento -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="singlebutton"></label>
                                <div class="col-md-4">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-inverse">Cargar documento</button>
                                </div>
                            </div>
                            <hr>

                            <!-- Formato Form de Prior Consideration de la  CMNUCC-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="appendedtext">Formato Form de Prior Consideration de la  CMNUCC</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="appendedtext" name="appendedtext" class="form-control" placeholder="c:\users\pc\documents\etapa 1_MDL_MDL_PoA" type="text">
                                        <span class="input-group-addon">Examinar</span>
                                    </div>

                                </div>
                            </div>
                            <!-- Cargar documento -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="singlebutton"></label>
                                <div class="col-md-4">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-inverse">Cargar documento</button>
                                </div>
                            </div>

                            <!-- Guardar -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="guardar"></label>
                                <div class="col-md-8">
                                    <button id="guardar" name="guardar" class="btn btn-primary" ng-click="registrarConsiderac()">Finalizar registro MDL Consideración Temprana</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                </div>
            </div>
        </div>
    </div>
</div>