<!-- ===================================================================================== -->
<!-- 7 - MDL etapa 1 Consideración Temprana -->
<!-- ===================================================================================== -->
﻿<div class="container gest_proy">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div ng-include src="'app/gpy/vistas/gestionProyectosMenu.html'"></div>
        </div>


        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-include src="'app/gpy/vistas/gestionProyectosEncabezado.html'"></div>
                </div>

                <div class="panel-body" ng-controller="infoMDLCtrl">
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                    <form class="form-horizontal">
                        <fieldset ng-disabled="sesion.perfil == INVITADO">

                            <!-- Etapa 1 Consideración Temprana -->
                            <legend>Etapa 1 Consideración Temprana</legend>



                            <!-- Nombre del proyecto en inglés-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="nombrproyctingls">Nombre del proyecto en inglés</label>  
                                <div class="col-md-4">
                                    <input id="nombrproyctingls" name="nombrproyctingls" placeholder="" class="form-control input-md" type="text" ng-model="proyecto.a002nombrproyctingls">

                                </div>
                            </div>

                            <!-- Sector/Sectoral Scope -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="sectoral">Sector/Sectoral Scope</label>
                                <div class="col-md-4">
                                    <select id="sectoral" name="sectoral" class="form-control" ng-model="proyecto.a002idsectoralscope" 
                                            ng-options="sectoralScope as sectoralScope.a102valor for sectoralScope in sectoralScopes track by sectoralScope.a102codigo" required>
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Tecnologías contempladas -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="tecnlgcontmpld">Tecnologías contempladas</label>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="tecnlgcontmpld" name="tecnlgcontmpld" ng-model="proyecto.a002tecnlgcontmpld" required></textarea>
                                </div>
                            </div>



                            <!-- Adjuntos -->                            
                            <!-- Solicitud de Consideracion Temprana -->
                            <!-- Formato Form de Prior Consideration de la  CMNUCC-->
                            <div class="div_adjuntos" ng-repeat="adjunto in adjuntos">
                                <label> {{adjunto.a025nombradjnt}}</label>
                                <br/><p> {{adjunto.a025descrpcnadjnt}}</p>
                                <!-- Número de radicado-->
                                <div class="form-group" ng-show="adjunto.a025aplicpcnadjnt == 'SI'">
                                    <label class="col-md-4 control-label" for="radicado">Número de radicado</label>  
                                    <div class="col-md-4">
                                        <input id="radicado" name="radicado" placeholder="" class="form-control input-md" type="text" ng-model="adjunto.radicado">
                                    </div>
                                </div>

                                <!-- Adjunto-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="appendedtext">Adjunto</label>
                                    <div class="col-md-6">
                                        <input type="file" class="form-control" id="{{adjunto.a025codigo}}" name="{{adjunto.a025codigo}}" placeholder="Poder" ngf-select="" ngf-accept="'application/pdf'" ng-model="adjunto.adjunto">
                                    </div>
                                </div>
                            </div>

                            <!-- Guardar -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="guardar"></label>
                                <div class="col-md-8">
                                    <button id="guardar" name="guardar" class="btn btn-primary" ng-click="registrarConsiderac()">Finalizar registro MDL Consideración Temprana</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                </div>
            </div>
        </div>
    </div>
</div>