<!-- ===================================================================================== -->
<!-- 2 - Participantes -->
<!-- ===================================================================================== -->
﻿<div class="container gest_proy">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div ng-include src="'app/gpy/vistas/gestionProyectosMenu.html'"></div>
        </div>


        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-include src="'app/gpy/vistas/gestionProyectosEncabezado.html'"></div>
                </div>

                <div class="panel-body"  ng-controller="participanteCtrl">
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->

                    <form class="form-horizontal" ng-show="muestraForm">
					
                        <fieldset>

                            <!-- Participantes -->
                            <legend>Participantes</legend>
                            
                            <table class="table table-bordered">
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Tipo de Documento</th>
                                    <th>Resp Funciones</th>
                                    <th>Acciones</th>
                                </tr>
                                <tr ng-repeat="filaParticipante in participantes">
                                    <td>{{filaParticipante.a052nombre}}</td>
                                    <td>{{filaParticipante.a052apellido}}</td>
                                    <td>{{filaParticipante.a052tipdocmnt}}</td>
                                    <td>{{filaParticipante.a051responsabilidad}}</td>
                                    <td>
										<button type="button" class="btn btn-primary" 
											ng-click="mostrarForm(filaParticipante)" data-toggle="tooltip" data-placement="top"
                                            title="Modificar participante"><span class="glyphicon glyphicon-edit"></span></button>
										<button type="button" class="btn btn-primary" 
											ng-click="eliminar(filaParticipante)" data-toggle="tooltip" data-placement="top"
                                            title="Eliminar participante"><span class="glyphicon glyphicon-remove"></span></button>
									</td>    
                                </tr>
                                
                            </table>


                            <!-- Tipo de documento -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">Tipo de documento</label>
                                <div class="col-md-4">
                                    <select id="selectbasic" name="selectbasic" class="form-control" ng-model="participante.persona.a015codigo"  ng-options="tipoDocumento.a015codigo as tipoDocumento.a015descrpcntipdocmnt for tipoDocumento in tiposDocumento">
                                    </select>
                                </div>
                            </div>

                            <!-- Numero de documento-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Numero de documento</label>  
                                <div class="col-md-2">
                                    <input type="text" id="a052numrdocmnt" name="a052numrdocmnt" ng-model="participante.persona.a052numrdocmnt"  placeholder="" required class="form-control input-md" ng-blur='consultarPersonaPorDocumento(participante.persona.a052numrdocmnt)'>
                                </div>
                            </div>

                            <!-- Nombre-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Nombre</label>  
                                <div class="col-md-2">
                                    <input  type="text" id="a052nombre" name="a052nombre" ng-model="participante.persona.a052nombre" ng-disabled="model.isDisabled" placeholder="" required class="form-control input-md">
                                </div>
                            </div>

                            <!-- Apellidos-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Apellidos</label>  
                                <div class="col-md-2">
                                    <input type="text" id="a052apellido" name="a052apellido" ng-model="participante.persona.a052apellido" ng-disabled="model.isDisabled" required class="form-control input-md">

                                </div>
                            </div>

                            <!-- Correo Electronico-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Correo Electronico</label>  
                                <div class="col-md-2">
                                    <input type="email" id="a052correlctrnc" name="a052correlctrnc"  ng-model="participante.persona.a052correlctrnc" ng-disabled="model.isDisabled" placeholder="" required class="form-control input-md">

                                </div>
                            </div>                           

                            <!-- Responsabilidades y/o Funciones -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectmultiple">Responsabilidades y/o Funciones</label>
                                <div class="col-md-4">
									<textarea rows = "6" cols = "100"  class="form-control" id="a051responsabilidad" name="a051responsabilidad" ng-model="participante.a051responsabilidad" placeholder="" required></textarea>
                                </div>
                            </div>

                            <!-- Guardar -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="button1id"></label>
                                <div class="col-md-8">
                                    <button id="button1id" name="button1id" class="btn btn-primary" ng-click="guardar()" >Registrar participante </button>
                                    <button id="button2id" name="button2id" class="btn btn-primary" ng-click="cancelar()" >Cancelar</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->

                </div>
            </div>
        </div>
    </div>
</div>