
<!-- ===================================================================================== -->
<!-- 5 - Políticas -->
<!-- ===================================================================================== -->
﻿<div class="container gest_proy">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div ng-include src="'app/gpy/vistas/gestionProyectosMenu.html'"></div>
        </div>

        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-include src="'app/gpy/vistas/gestionProyectosEncabezado.html'"></div>
                </div>

                <div class="panel-body"  ng-controller="politicaCtrl">
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                    <form class="form-horizontal">
                        <fieldset id= "frmPoliticas" ng-disabled="sesion.perfil == INVITADO">

                            <!-- Politicas -->
                            <legend>Politicas</legend>

                            <label> Politicas a las que su proyecto le aporta </label>
                            <p> Plan/Estrategia/Programa nacional/sectorial/territorial de cambio climático al que le aporta su proyecto</p>
                                  
                            
                            
                            
                            
                            
                            
                            
                            <div class="col-sm-12" style='padding-bottom:20px;'>
                                <div ui-tree id="tree-root">
                                  <ol ui-tree-nodes  data-nodrag ng-model="listaPoliticas">
                                    <li ng-repeat="(key, value) in listaPoliticas  | groupBy: 'a003nomnivel1' " ui-tree-node  ng-include="'nodes_rendererLev1.html'"></li>
                                  </ol>
                                </div>
                            </div>
                            
                            
 
                        </fieldset>
                    </form>
                    <!-- ============================================================-->
                    <!-- Formulario -->
                    <!-- ============================================================-->
                     <form class="form-horizontal"  id="frmPoliticasNuevas" name="frmPoliticasNuevas" >
                        <fieldset ng-disabled="sesion.perfil == INVITADO">                          
                            
                            <div>
                                <br/><br/><br/>
                            </div>

                            <label> Politica(s) a nivel sectorial / territorial con la(s) que se alinea el proyecto / iniciativa</label>
                            <p> Sí exiten politicas relacionadas con el proyecto que no están el el listado anterior, por favor regístrela a continuación.</p>

                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Politica</th>
                                    <th style="width:100px;">Acciones</th>
                                </tr>   
                                <tr ng-repeat="politicaP in politicasP">
                                    <td>{{politicaP.a059descripcion}}</td>

                                    <td>
                                        <div class="btn-group">
                                            <!-- ver detalle -->
                                            <a ng-click="mostrarForm(politicaP)" class="btn btn-primary" role="button" data-placement="top" title="Modificar">
                                                <span class="glyphicon glyphicon-zoom-in"></span></a>                                
                                            <button type="button" class="btn btn-primary" ng-click="eliminarPoliticaP(politicaP)" data-toggle="tooltip" data-placement="top"
                                                    title="Eliminar"><span class="glyphicon glyphicon-remove"></span></button>
                                        </div>
                                    </td>
                                </tr> 
                            </table>

                            <!-- Nombre politica -->
                            <div class="form-group"  ng-class="{'has-error': !frmPoliticasNuevas.a059descripcion.$valid}">
                                
                                <label class="col-md-4 control-label" for="textarea">Nombre politica</label>
                                <div class="col-md-4">                     
                                    <textarea class="form-control" id="a059descripcion" name="a059descripcion" required   ng-disabled="model.isDisabled"  ng-model="politicaPr.a059descripcion"></textarea>
                                </div>
                                <span class="control-label" ng-show="frmPoliticasNuevas.a059descripcion.$error.required"><strong>Requerido</strong></span>
                            </div>
                           
                            
                            
                            <!-- Muestra campo para subida de soporte -->
                            <div class="form-group" ng-show="!politicaPr.a059idarchivo.a026codigo">
                                    <label class="col-md-4 control-label" for="adjunto">Anexo</label>
                                    <div class="col-md-6">
                                        <input type="file" class="form-control" id="adjunto" name="adjunto" placeholder="Anexo" ngf-select="" ngf-accept="'application/pdf'"
                                               ng-model="anexo.adjunto" tabindex=14>
                                    </div>
                            </div>                

                            <!-- Muestra soporte cargado -->
                            <div class="form-group" ng-hide="!politicaPr.a059idarchivo.a026codigo">
                                <label class="col-md-4 control-label" for="adjunto">Anexo</label>
                                <div class="col-md-6" ng-show="!muestraCampoSoporte">
                                    {{politicaPr.a059idarchivo.a026rutarchivo}} 
                                    <a ng-click="consultarSoportePorId(politicaPr.a059idarchivo)" class="btn btn-primary" role="button">Ver pdf</a>
                                    <a ng-click="mostrarCampoSoporte()" class="btn btn-primary" role="button" >Actualizar anexo</a>
                                </div>
                                <div class="col-md-6" ng-show="muestraCampoSoporte">
                                    <a ng-click="ocultarCampoSoporte()" class="btn btn-primary" role="button" >Cancelar</a>
                                </div>
                            </div>
                            
                            
                            <!-- Actualizar soporte -->
                            <div class="form-group" ng-show="muestraCampoSoporte">
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    <input type="file" class="form-control" id="adjunto" name="adjunto" placeholder="Anexo" ngf-select="" ngf-accept="'application/pdf'"
                                           ng-model="anexo.adjunto">
                                </div>
                            </div>
                            
                            
                            <!-- Guardar -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="btnGuardarPoliticaPr"></label>
                                <div class="col-md-8">
                                    <button id="btnGuardarPoliticaPr" name="btnGuardarPoliticaPr" class="btn btn-primary" ng-click="guardar()" ng-disabled="frmPoliticasNuevas.$invalid" >Guardar Politica</button>
                                    <button id="btnCancelarPoliticaPr" name="btnCancelarPoliticaPr" class="btn btn-primary" ng-click="cancelar()" >Cancelar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================-->
<!-- Plantilla de nodo nivel 1 (quito reursividad porque cada nivel tiene diferencias importantes) -->
<!-- ============================================================-->
<script type="text/ng-template" id="nodes_rendererLev1.html">
  <div ui-tree-handle class="tree-node tree-node-content" style='font-weight: 100!important;'>
    <a class="btn btn-success btn-xs" collapsed="{collapsed}" data-nodrop data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>   
    {{key}}
  </div>
  <ol ui-tree-nodes="" ng-model="value" ng-class="{hidden: collapsed}" data-nodrop  data-nodrag>
     <li ng-repeat="(key, value)  in value  | groupBy:'a003nomnivel2' " ui-tree-node ng-include="'nodes_rendererLev2.html'">
    </li>
  </ol>
</script>
<!-- ============================================================-->
<!-- Plantilla de nodo nivel 2  -->
<!-- ============================================================-->
<script type="text/ng-template" id="nodes_rendererLev2.html">
  <div ui-tree-handle class="tree-node tree-node-content" style='font-weight: 100!important;'>
    <a class="btn btn-success btn-xs" collapsed="{!collapsed}" data-nodrop data-nodrag ng-click="toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': !collapsed,
          'glyphicon-chevron-down': collapsed,
          'font-weight':'100'
        }"></span></a>   
    {{key}}
  </div>
  <ol ui-tree-nodes="" ng-model="politica" ng-class="{hidden: !collapsed}" data-nodrop data-nodrag >
    <li ng-repeat="politica in value  | groupBy:'a003nomnivel3' " ui-tree-node ng-include="'nodes_rendererLev3.html'">
    </li>
  </ol>
</script>
<!-- ============================================================-->
<!-- Plantilla de nodo nivel 3  -->
<!-- ============================================================-->
<script type="text/ng-template" id="nodes_rendererLev3.html">
  <div ui-tree-handle  class="tree-node tree-node-content" style='font-weight: 100!important;' title="{{politica[0].a003descrpcnpoltc}}">    
    <input
        type="checkbox"        
        value="{{politica[0].a003codigo}}"
        ng-checked="evaluar(politica[0].a007codigo)"
        ng-click="marcar(this)"
    >
   <input type="hidden" value="{{politica[0].a007codigo}}">
    {{politica[0].a003nomnivel3}}
  </div>
  
</script>