<div class="panel panel-primary">
    <div class="panel-heading">Tipo de Proyecto Nuevo</div>
    <div class="panel-body">


        <form class="form-horizontal" name="eligeProyForm" novalidate>
            <fieldset>

                <!-- Título -->
                <legend>Elija el tipo de proyecto que desea crear:</legend>

                <div class="alert alert-danger" role="alert" ng-show="mostrarError">Debe seleccionar el tipo de proyecto que desea crear.</div>

                <div ng-repeat="tipoProyecto in tiposProyecto| orderBy:'a102codigo'" class="row-fluid">
                    <label>
                        <input type="radio" name="tipoProyecto" value="{{tipoProyecto.a102codigo}}" ng-model="tipoProyectoSel.index" required  />
                        &nbsp;<span>{{tipoProyecto.a102valorcorto}} - {{tipoProyecto.a102valor}}</span>
                    </label>
                </div>



                <!-- Botones -->
                <div class="form-group">
                    <div class="col-md-8">
                        <button id="btnCrear" name="btnCrear" class="btn btn-primary" ng-click="ok()"  ng-disabled="eligeProyForm.$invalid" >Crear Proyecto</button>
                        <button id="btnCancelar" name="btnCancelar" class="btn btn-primary"  ng-click="cancel()" >Cancelar</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>